.modal-transaction-add-component {
  .persons-paid,
  .persons-benefited {
    min-height: 200px;
  }

  .person-chip {
    display: inline-block;
    width: auto;
    background-color: #333750;
    border-radius: 30px;
    padding: 6px 12px;
    color: #e6e6e6;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}