@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore&display=swap');

.component-nav-bar{
  background-color: #2B2E44;
  h1 {
    font-family: 'La Belle Aurore', cursive;
    padding: 8px 20px;
    font-size: 28px;
    color: white;
    font-weight: 100;
  }
}

//#242635;