@import './styles/bootstrap-override.scss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import './styles/toast-service.scss';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

/* Utilities */
.clickable {
  cursor: pointer;
}

.non-clickable {
  cursor: not-allowed;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 5px;
}

/* Buttons */
.container-btn-float-action {
  position: absolute;
  right: 12px;
}

.btn-float-action {
  position: fixed;
  transform: translateX(-65px);
  bottom: 15px;
  padding: 13px 20px !important;
  border-radius: 50% !important;
  font-size: 24px !important;
}